/* Noto Sans */
@font-face {
  font-family: 'NotoSansCJKjpRegular';
  font-style: normal;
  font-weight: 400;
  src: url('~@/assets/fonts/NotoSansCJKjp/NotoSansCJKjp-Regular.woff')
      format('woff'),
    url('~@/assets/fonts/NotoSansCJKjp/NotoSansCJKjp-Regular.woff2')
      format('woff2'),
    url('~@/assets/fonts/NotoSansCJKjp/NotoSansCJKjp-Regular.ttf')
      format('truetype');
}

@font-face {
  font-family: 'NotoSansCJKjpMedium';
  font-style: normal;
  font-weight: 300;
  src: url('~@/assets/fonts/NotoSansCJKjp/NotoSansCJKjp-Medium.woff')
      format('woff'),
    url('~@/assets/fonts/NotoSansCJKjp/NotoSansCJKjp-Medium.woff2')
      format('woff2'),
    url('~@/assets/fonts/NotoSansCJKjp/NotoSansCJKjp-Medium.ttf')
      format('truetype');
}

@font-face {
  font-family: 'NotoSansCJKjpBold';
  font-style: normal;
  font-weight: 300;
  src: url('~@/assets/fonts/NotoSansCJKjp/NotoSansCJKjp-Bold.woff')
      format('woff'),
    url('~@/assets/fonts/NotoSansCJKjp/NotoSansCJKjp-Bold.woff2')
      format('woff2'),
    url('~@/assets/fonts/NotoSansCJKjp/NotoSansCJKjp-Bold.ttf')
      format('truetype');
}

/* Roboto */
@font-face {
  font-family: 'RobotoLight';
  font-style: normal;
  font-weight: 300;
  src: url('~@/assets/fonts/Roboto/Roboto-Light.woff') format('woff'),
    url('~@/assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoRegular';
  font-style: normal;
  font-weight: 400;
  src: url('~@/assets/fonts/Roboto/Roboto-Regular.woff') format('woff'),
    url('~@/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoBold';
  font-style: normal;
  font-weight: 700;
  src: url('~@/assets/fonts/Roboto/Roboto-Bold.woff') format('woff'),
    url('~@/assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoBlack';
  font-style: normal;
  font-weight: 700;
  src: url('~@/assets/fonts/Roboto/Roboto-Black.woff') format('woff'),
    url('~@/assets/fonts/Roboto/Roboto-Black.ttf') format('truetype');
}
